.container {
  margin: 30px auto;
  padding: 30px;
  max-width: 320px;
  height: 320px;
  background-color: rgb(36, 196, 196);
  border: 1px solid rgb(57, 133, 168);
  border-radius: 6px;
  box-shadow: 7px 7px 13px 0px rgba(0, 0, 0, 0.38);
}
